.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  color: white;
  border-bottom: 2px solid black;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
}

nav a {
  margin: 0 1rem;
  color: black;
  text-decoration: none;
  height: 100%;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  margin-right: 48px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  /* Additional styles for header-right can be added here if needed */
}

.header-nav {
  width: 100%;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .header {
    border-bottom: 2px solid black; /* Apply border only on larger screens */
  }
}