.card {
  display: flex;
  align-items: center;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

.outlink-image {
  max-width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
  }

  .left-content, .right-content {
    align-items: flex-start;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.download-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Bootstrap primary color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.home-button {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.left-content {
  flex: 1;
}

.right-content {
  flex: 1;
}